

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}
:root{
    --body-color: #E4E9F7;
    --nav-color: #1abc9c;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}
body{
    height: 100vh;
    background-color: var(--body-color);
}
body.dark{
    --body-color: #1abc9c;
    --nav-color: #1abc9c;
    --side-nav: #242526;
    --text-color: #CCC;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}
body.dark nav{
    border: 1px solid #393838;
}
.logo-navLogo{
    padding: 5px 5px;
    margin-left: -10rem;
    margin-right: 10rem;
    cursor: pointer;
    background-color: #1abc9c;
    color: rgb(252, 250, 250);
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: center;
}
.logo-navLogo:hover{
    scale: 1.09;
    color: #000;
}
.cutmlogo img{
    width: 4.4rem;
    height: 4.4rem;
    margin-top: 10px;
    margin-right: 30rem;
    margin-left: -30rem;
    cursor: pointer;
    padding: 5px 5px;
}
.cutmlogo img:hover{
    scale: 1.20;
    color: #000;
}
.cutmlogo a{
    font-size: 1.75rem;
}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}
.menu .logo-toggle{
    display: none;
}
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-right: -10rem;
    margin-left: 10rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    gap: 10px;
    justify-content: center;
}
.action_btn:hover{
    scale: 1.09;
    color: #050505;
}
.action_btn:active{
    scale: 0.95;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 600;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    justify-content: center;
    left: 20px;
    bottom: 0;
    height: 6px;
    width: 6px;
    border-radius: 40px;
    margin-left: -10px;
}
.nav-links li a:hover{
    scale: 1.06;
    /* background-color: rgb(235, 179, 75); */
    color: #000;
    font-weight: bold;
}





*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
    background-color: #1abc9c;
}
a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.4rem;
    color: #252525;
    margin-bottom: 20px;
    letter-spacing: 2px;
    background-color: #1abc9c;
    border: none;
    outline: none;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
}
.testimonial-heading span:hover{
    scale: 1.20;
    color: #fff;
    
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: #fff;
}
.profile{
    display: flex;
    align-items: center;
    background-color: #fff;
}
.name-user{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    background-color: #fff;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
    background-color: #fff;
}
.reviews{
    color: #f9d71c;
    background-color: #fff;
}
.reviews i{
    background-color: #fff;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
    background-color: #fff;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}
 